.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    min-height: 336px;
    margin: 0 auto;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

@media (max-width: 900px) {
    .stand {
        flex-direction: column;
        gap: 30px;
    }
}