.App {
    --header_height: 60px;
}

.hw {
    margin: 30px 0;
    padding: 32px 70px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.hwTitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    width: 1280px;
    margin: 10px auto;
}