.sendForm {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.textarea {
    min-height: 40px;
    width: 976px;
    max-width: 976px;
    resize: none;
    padding: 12px 24px 11px 24px;
    border: none;
    background: #F5F7FB;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.button {
    max-height: 40px;
    box-sizing: border-box;
    background: #0066CC;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 10px 38px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
}

.button:hover {
    background-color: #022f5e;
    transition: background-color ease-in-out 0.2s;
}
.button:active {

}

@media (max-width: 570px) {
    .sendForm {
        gap: 10px;
    }
    .textarea {
        width: 100%;
    }
    .button {
        padding: 10px 15px;
    }
}

@media (max-width: 375px) {
    .sendForm {
        flex-direction: column;
    }
}