.select {
    cursor: pointer;
    width: 180px;
    height: 25px;
    padding: 0 10px;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-radius: 2px;
}

.select:focus {
    border-color: #000000;
}


.option:hover {
}
