.headerWrapper {
    position: sticky;
    top: 0;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0 0 40px rgba(29, 33, 38, 0.13), 0 0 2px rgba(29, 33, 38, 0.1);
    z-index: 1;
    display: flex;
    align-items: center;
}

.header {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burgerMenuIcon {
    cursor: pointer;
}

.header h1 {

}

@media (max-width: 1280px) {
    .header {
        padding: 0 20px;
    }
}